:root {
/* Типографика */
  --main-font-family: "Inter";
  --accent-font-family: "PressStart2P";
  --main-font-size: 18px;
  --main-line-height: 116%;
  --regular-font-weight: 410;
  --bold-font-weight: 715;
  --logo-font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  --headline-font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  --text-stroke-color: rgba(255, 255, 255, 0.5);
/* Фон */
  --background-gradient: 
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7, #1a1a1a);
  --page-background: var(--background-gradient);
/* Размеры */
  --section-width: clamp(23.4375rem, 16.2852rem + 30.5164vw, 43.75rem);
  --header-padding: clamp(7.625rem, 7.4489rem + 0.7512vw, 8.125rem);
  --border: 2px solid #000;
}